# .travis.yml
language: node_js
node_js:
  - '8'
branches:
  only:
    - master
cache:
  yarn: true
script:
  - git config --global user.name "${GH_NAME}"
  - git config --global user.email "${GH_EMAIL}"
  - echo "machine github.com login ${GH_NAME} password ${GH_TOKEN}" > ~/.netrc
  - if [ "$TRAVIS_BRANCH" == "master" ] && [ "${TRAVIS_PULL_REQUEST}" == "false" ]; then
      sudo apt-get install default-jre;
      wget https://artifacts.crowdin.com/repo/deb/crowdin.deb -O crowdin.deb;
      sudo dpkg -i crowdin.deb;
      cd website && yarn install && yarn run write-translations;
      yarn run crowdin-upload;
      yarn run crowdin-download;
      GIT_USER="${GH_NAME}" yarn run publish-gh-pages;
    fi
notifications:
  webhooks: https://hook.bearychat.com/=bw9Gj/travis/84ec798c29d49313e9bed10665d4f3b2
