:root {
  --main-color: #fb6052;
  --main-background: #eee;
  --main-text-color: #000;
  --main-text-color-light: rgba(0, 0, 0, 0.7);
  --banner-background: rgba(238, 238, 238, 0.6);
}

.fixedHeaderContainer {
  background: #20232a;
}

.fixedHeaderContainer a:hover {
  color: #fff;
}

.dayjs-home-banner {
  position: relative;
  background: var(--main-background);
  overflow: hidden;
}

.dayjs-home-banner .banner-title,
.dayjs-home-banner .banner-subtitle {
  color: var(--main-text-color);
}

.dayjs-home-banner .banner-title {
  margin-bottom: 1em;
}

.dayjs-home-banner h2 {
  font-size: 18px;
}

.dayjs-home-banner h3 {
  font-size: 16px;
}

.dayjs-home-intro {
  padding: 2em 0.75em;
  background: var(--main-background);
}

.dayjs-home-intro .intro-title {
  color: var(--main-text-color);
}

.dayjs-home-intro .intro-content {
  width: 85%;
  color: var(--main-text-color-light);
}

.dayjs-home-intro h2 {
  font-size: 20px;
}

.dayjs-home-intro h3 {
  font-size: 16px;
}

.nav-footer .sitemap .nav-home {
  margin: 0;
  padding: 0;
  opacity: 1;
}

.github-star-btn {
  margin-left: 10px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.github-star-btn>span{
  display: flex;
}

@media (max-width:568px) {
	.github-star-btn {
    display: none;
  }
}
.hide {
  display: none;
}

.tocToggler {
  display: none;
}
