:root {
  --main-color: #fb6052;
  --main-background: #eee;
  --main-text-color: #000;
  --main-text-color-light: rgba(0, 0, 0, 0.7);
  --banner-background: rgba(238, 238, 238, 0.6);
}

.fixedHeaderContainer {
  background: #20232a;
}

.fixedHeaderContainer a:hover {
  color: #fff;
}

.dayjs-home-banner {
  position: relative;
  background: var(--main-background);
  overflow: hidden;
}

.dayjs-home-banner .banner-title,
.dayjs-home-banner .banner-subtitle {
  color: var(--main-text-color);
}

.dayjs-home-banner .banner-title {
  margin-bottom: 1em;
}

.dayjs-home-banner h2 {
  font-size: 18px;
}

.dayjs-home-banner h3 {
  font-size: 16px;
}

.dayjs-home-intro {
  padding: 2em 0.75em;
  background: var(--main-background);
}

.dayjs-home-intro .intro-title {
  color: var(--main-text-color);
}

.dayjs-home-intro .intro-content {
  width: 85%;
  color: var(--main-text-color-light);
}

.dayjs-home-intro h2 {
  font-size: 20px;
}

.dayjs-home-intro h3 {
  font-size: 16px;
}

.nav-footer .sitemap .nav-home {
  margin: 0;
  padding: 0;
  opacity: 1;
}

.github-star-btn {
  margin-left: 10px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.github-star-btn>span{
  display: flex;
}

@media (max-width:568px) {
	.github-star-btn {
    display: none;
  }
}
.hide {
  display: none;
}

.tocToggler {
  display: none;
}

/* Highlight.js theme to use for syntax highlighting in code blocks. */
/*  theme: 'github' */
.hljs{display:block;overflow-x:auto;padding:0.5em;color:#333;background:#f8f8f8}.hljs-comment,.hljs-quote{color:#998;font-style:italic}.hljs-keyword,.hljs-selector-tag,.hljs-subst{color:#333;font-weight:bold}.hljs-number,.hljs-literal,.hljs-variable,.hljs-template-variable,.hljs-tag .hljs-attr{color:#008080}.hljs-string,.hljs-doctag{color:#d14}.hljs-title,.hljs-section,.hljs-selector-id{color:#900;font-weight:bold}.hljs-subst{font-weight:normal}.hljs-type,.hljs-class .hljs-title{color:#458;font-weight:bold}.hljs-tag,.hljs-name,.hljs-attribute{color:#000080;font-weight:normal}.hljs-regexp,.hljs-link{color:#009926}.hljs-symbol,.hljs-bullet{color:#990073}.hljs-built_in,.hljs-builtin-name{color:#0086b3}.hljs-meta{color:#999;font-weight:bold}.hljs-deletion{background:#fdd}.hljs-addition{background:#dfd}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}
